*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html{ font-size: 12pt }

body{
    margin:0;
    padding:0;
    background:#282828;
    color:#FFF;
    font-weight:500;
}

body, input, button{ font-family:var(--roboto) }

button{
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    border:none;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    top:50px;
}

header{
    width:100vw;
    height:65px;
    padding:0 25px;
    background:rgb(21,21,21);
    position:fixed;
    z-index:3;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
    header > *{ flex:0 0 calc(100% / 3) }

#title-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    cursor:default;
}

#title{
    font-size:1.8em;
}

nav{
    display:flex;
    justify-content:flex-end;
}


@media screen and (max-width: 850px){
    html{ font-size: 9pt }

    #title-container{ gap: 10px }
    #title-name{ display:none }
}